body {
  font famly: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  color: white;
  font-weight: bold;
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
      }
h3 {
  font-size: 23px;
  font-weight: bold;
}
  p {
    font-size: 14px;

  }

  a,
  li {
    font-size: 18px;
    color: white;
  }

  ul {
    list-style: none;
  }

  .banner {
    background-image: url('./the-flatiron-building.png');
  }
  .design {
    color: white;
    font-weight: bold;
    font-size: 23px;
      }

  .footer {
    background-color: dimgray;
    color: white;
    text-align: left;
    }

    #copyright {
      font-size: 11px;
    }
