body {
  font famly: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  color: white;
  font-weight: bold;
  }

  p {

  }

  a,
  li {
    font-size: 18px;
    color: white;
  }

  ul {
    list-style: none;
  }

  .header {
    background-image: url('./the-flatiron-building.png');
  }
